<div class="card-container">
    <div class="card-formte">
        <div class="first-card">
            <i class="fas fa-clock"></i>
            <span>Shift</span>
        </div>
        <div class="first-card">
            <i class="fas fa-calendar-day"></i>
            <span>Calendar</span>
        </div>
        <div class="first-card">
            <i class="fas fa-envelope"></i>
            <span>Email</span>
        </div>
    </div>
    
    <div class="about-card">
        <label class="about-card-title">About</label>
        <div class="about-card-content">
            <i class="fas fa-plus about-card-icon"></i>
            <span class="about-card-text">Add About</span>
        </div>
    </div>
    
    <div class="skill-card">
        <label class="skill-card-title">Skill Set</label>
        <div class="skill-card-content">
            <i class="fas fa-plus skill-card-icon"></i>
            <span class="skill-card-text">Add Skill Set</span>
        </div>
    </div>

    <div class="tags-card">
        <label class="tags-card-title">Tags</label>
        <div class="tags-card-content">
            <i class="fas fa-plus tags-card-icon"></i>
            <span class="tags-card-text">Add Tags</span>
        </div>
    </div>
    
    <div class="form-card">
        <span class="form-card-title">Basic information</span>
        <form class="form-card-form">
            <div class="form-card-grid">
                <div class="form-card-left">
                    <label for="employee-id1">Employee ID</label>
                    <input type="text" id="employee-id1" name="employee-id1">
                    
                    <label for="first-name">First Name</label>
                    <input type="text" id="first-name" name="first-name">
                    
                    <label for="last-name">Last Name</label>
                    <input type="text" id="last-name" name="last-name">
                </div>
                <div class="form-card-right">
                    <label for="nickname">Nickname</label>
                    <input type="text" id="nickname" name="nickname">
                    
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email">
                </div>
            </div>
        </form>
    </div>
    
    <div class="work-card">
        <span class="work-card-title">Work Information</span>
        <form class="work-card-form">
            <div class="work-card-grid">
                <div class="work-card-left">
                    <label for="department">Department</label>
                    <input type="text" id="department" name="department">
                    
                    <label for="location">Location</label>
                    <input type="text" id="location" name="location">
                    
                    <label for="designation">Designation</label>
                    <input type="text" id="designation" name="designation">
                </div>
                <div class="work-card-right">
                    <label for="role">Role</label>
                    <input type="text" id="role" name="role">
                    
                    <label for="employment-type">Employment Type</label>
                    <input type="text" id="employment-type" name="employment-type">

                    <label for="source-of-hire">Source of Hire</label>
                    <input type="text" id="source-of-hire" name="source-of-hire">

                    <label for="date-of-joining">Date of Joining</label>
                    <input type="text" id="date-of-joining" name="date-of-joining">

                    <label for="current-experience">Current Experience</label>
                    <input type="text" id="current-experience" name="current-experience">

                    <label for="total-experience">Total Experience</label>
                    <input type="text" id="total-experience" name="total-experience">
                </div>
            </div>
        </form>
    </div>

    <div class="Hierarchy-card">
        <span class="Hierarchy-card-title">Hierarchy Information</span>
        <form class="Hierarchy-card-form">
            <div class="Hierarchy-card-grid">
                <div class="Hierarchy-card-left">
                    <label for="reporting-manager">Reporting Manager</label>
                    <input type="text" id="reporting-manager" name="reporting-manager">
        </div>
        </div>
        </form>
</div>

<div class="personal-card">
    <span class="personal-card-title">Personal Details</span>
    <form class="personal-card-form">
        <div class="personal-card-grid">
            <div class="personal-card-left">
                <label for="date-of-birth">Date of Birth</label>
                <input type="text" id="date-of-birth" name="date-of-birth">
                
                <label for="age">Age</label>
                <input type="text" id="Age" name="Age">
                
                <label for="gender">Gender</label>
                <input type="text" id="gender" name="gender">

                <label for="marital-status">Marital Status</label>
                <input type="text" id="marital-status" name="marital-status">

                <label for="about-me">About Me</label>
                <input type="text" id="about-me" name="about-me">

            </div>
            <div class="personal-card-right">
                <label for="ask-me-about">Ask me about/Expertise</label>
                <input type="text" id="ask-me-about" name="ask-me-about">
                
            </div>
        </div>
    </form>
</div>

<div class="Identity-card">
    <span class="Identity-card-title">Identity Information</span>
    <form class="Identity-card-form">
        <div class="Identity-card-grid">
            <div class="Identity-card-left">
                <label for="uan">UAN</label>
                <input type="text" id="uan" name="uan">

                <label for="pan">PAN</label>
                <input type="text" id="pan" name="pan">

                <label for="aadhaar">Aadhaar</label>
                <input type="text" id="aadhaar" name="aadhaar">
    </div>
    </div>
    </form>
</div>

<div class="Contact-card">
    <span class="Contact-card-title">Contact Details</span>
    <form class="Contact-card-form">
        <div class="Contact-card-grid">
            <div class="Contact-card-left">
                <label for="work-phone-number">Work Phone Number</label>
                <input type="number" id="work-phone-number" name="work-phone-number">
                
                <label for="extension">Extension</label>
                <input type="text" id="extension" name="extension">
                
                <label for="seating-location">Seating Location</label>
                <input type="text" id="seating-location" name="seating-location">

                   
                <label for="tags">Tags</label>
                <input type="text" id="tags" name="tags">

                   
                <label for="present-address">Present Address</label>
                <input type="text" id="present-address" name="present-address">

                   
                <label for="permanent-address">Permanent Address</label>
                <input type="text" id="permanent-address" name="permanent-address">

            </div>
            <div class="Contact-card-right">
                <label for="personal-mobile-number">Personal Mobile Number</label>
                <input type="number" id="personal-mobile-number" name="personal-mobile-number">
                
                <label for="personal-email-address">Personal Email Address</label>
                <input type="email" id="personal-email-address" name="personal-email-address">
            </div>
        </div>
    </form>
</div>


<div class="Separation-card">
    <span class="Separation-card-title">Separation Information</span>
    <form class="Separation-card-form">
        <div class="Separation-card-grid">
            <div class="Separation-card-left">
                <label for="date-of-exit">Date of Exit</label>
                <input type="date" id="date-of-exit" name="date-of-exit">
    </div>
    </div>
    </form>
</div>

<div class="System-card">
    <span class="System-card-title">System Fields</span>
    <form class="System-card-form">
        <div class="System-card-grid">
            <div class="System-card-left">
                <label for="added-by">Added By</label>
                <input type="text" id="added-by" name="added-by">
                
                <label for="added-time">Added Time</label>
                <input type="text" id="added-time" name="added-time">
                
            </div>
            <div class="System-card-right">
                <label for="modified-by">Modified By</label>
                <input type="text" id="modified-by" name="modified-by">
                
                <label for="modified-time">Modified Time</label>
                <input type="text" id="modified-time" name="modified-time">

                <label for="onboarding-status">Onboarding Status</label>
                <input type="text" id="onboarding-status" name="onboarding-status">
            </div>
        </div>
    </form>
</div>

<div class="Work-card">
    <span class="Work-card-title">Education Details</span>
    <form class="Work-card-form">
        <div class="Work-card-grid">
            <table class="Work-card-table">
                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Job Title</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Job Description</th>
                        <th>Relevant</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- No rows found message -->
                    <tr>
                        <td colspan="6" class="no-rows">No rows found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>

<div class="Education-card">
    <span class="Education-card-title">Education Details</span>
    <form class="Education-card-form">
        <div class="Education-card-grid">
            <table class="Education-card-table">
                <thead>
                    <tr>
                        <th>Institute Name</th>
                        <th>Degree/Diploma</th>
                        <th>Specialization</th>
                        <th>Date of Completion</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- No rows found message -->
                    <tr>
                        <td colspan="4" class="no-rows">No rows found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>

<div class="Dependent-card">
    <span class="Dependent-card-title">Dependent Details</span>
    <form class="Dependent-card-form">
        <div class="Dependent-card-grid">
            <table class="Dependent-card-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Relationship</th>
                        <th>Date of Birth</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <!-- No rows found message -->
                    <tr>
                        <td colspan="3" class="no-rows">No rows found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>

</div>